//=========== Genéricos ==============
body {
  background-color: $blacksecondary;
  color: $white;
  font-family: $mainfont;
}
a {
  text-decoration: none;
  color: $grey-text;
  &:hover {
    color: $pink;
    text-decoration: none;
  }
}
button {
  border: none;
  outline: none;
}
//=========== Ramas ==============
.branch1 {
  @include branch(
    130px,
    326px,
    28px,
    0 0 6px rgb(78, 73, 126),
    0 0 6px rgb(111, 105, 172),
    0 0 6px rgb(111, 105, 172),
    0 0 12px rgb(194, 189, 233)
  );
}
.branch2 {
  width: 40px;
  height: 189px;
  display: block;
  position: absolute;
  top: 559px;
  right: -17px;
  box-shadow: 0 0 6px rgb(70, 110, 6), 0 0 6px rgb(190, 250, 93),
    0 0 6px rgb(190, 250, 93), 0 0 12px rgb(190, 250, 93);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.branch3 {
  @include branch(
    182px,
    847px,
    28px,
    0 0 6px rgb(53, 108, 129),
    0 0 6px rgb(106, 209, 250),
    0 0 6px rgb(106, 209, 250),
    0 0 12px rgb(106, 209, 250)
  );
}
//=========== Animación scroll to top ==============
.container-arrow {
  position: absolute;
  top: 540px;
  right: 50px;
}
.arrow:before {
  position: absolute;
}
#btnarrowtotop {
  background-color: transparent !important;
  position: fixed;
  outline: none;
  border: none;
  .arrow {
    width: 25px;
    height: 25px;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(-45deg);
    border-left: none;
    // border-top: none;
    border-right: 2px #fff solid;
    border-top: 2px #fff solid;
    &button {
      background-color: transparent;
    }
  }
  .arrow:before {
    content: "";
    width: 15px;
    height: 15px;
    top: 9px;
    right: 9px;
    margin: 0;
    -webkit-transform: rotate(-90deg);
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-name: arrow;
  }
  @keyframes arrow {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(0 -10px);
    }
  }
}

