body {
  background-color: $blacksecondary;
  color: $white;
  font-family: $mainFont;
}
a {
  text-decoration: none;
  color: $pink-secondary;
  &:hover {
    color: $lemon;
    text-decoration: none;
  }
}
.arrow,
.arrow:before {
  position: absolute;
}
button {
  background-color: transparent;
  margin-right: 50px;

  .arrow {
    width: 30px;
    height: 30px;
    top: 87%;
    left: 94%;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    &button {
      background-color: transparent;
    }
  }

  .arrow:before {
    content: "";
    width: 20px;
    height: 20px;
    top: 87%;
    left: 94%;
    margin: -24px 0 0 -25px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-name: arrow;
  }
  @keyframes arrow {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(-5px, -5px);
    }
  }
}

.commit-main {
  display: block;
  position: absolute;
  top: 100px;
  left: 7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  // border: 1px solid $blacksecondary;
  cursor: pointer;
  &.end {
    display: block;
    position: absolute;
    top: 997px;
    left: -10px;
    // background-color: red;
    // border: 1px solid $blacksecondary;
    cursor: auto;
  }
  &.sx {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 100px;
    left: 7px;
    background-color: green;
    border: 1px solid green;
    cursor: pointer;
  }
}
.tooltip-container {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid red;
  text-align: center;
  .text {
    width: 200px;
    border: 1px solid $white;
    position: absolute;
    top: -8px;
    right: 42px;
    // display: none;
    color: $white;
  }
  &:hover .text {
    display: block;
  }
}
.branch1 {
  width: 40px;
  height: 142px;
  display: block;
  position: absolute;
  top: 825px;
  left: 28px;
  border: 3px solid blueviolet;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.branch2 {
  width: 40px;
  height: 244px;
  display: block;
  position: absolute;
  top: 485px;
  right: -17px;
  border: 3px solid blueviolet;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.branch3 {
  width: 40px;
  height: 169px;
  display: block;
  position: absolute;
  top: 220px;
  left: 28px;
  border: 3px solid blueviolet;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.neon {
  color: $white;
  text-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1),
    0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1),
    0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1),
    0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1),
    0 0 180px rgba(38, 104, 127, 1);
  font-size: 50px;
}

.neonTransition {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  font: normal 48px / normal "Warnes", Helvetica, sans-serif;
  color: $whiteshadow;
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px $whiteshadow, 0 0 20px $whiteshadow,
    0 0 30px $whiteshadow, 0 0 40px $pink-secondary, 0 0 70px $pink-secondary,
    0 0 80px $pink-secondary, 0 0 100px $pink-secondary;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.neonTransition:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1), 0 0 40px $neonblue, 0 0 70px $neonblue,
    0 0 80px $neonblue, 0 0 100px $neonblue;
}
