body {
  background-color: $blacksecondary;
  color: $white;
  font-family: "Courier New", Courier, monospace;
}
a {
  text-decoration: none;
  color: $pink-secondary;
  &:hover {
    color: $lemon;
    text-decoration: none;
  }
}

.branch1 {
  @include branch(
    142px,
    321px,
    28px,
    // rgb(210, 240, 252),
    0 0 6px rgb(78, 73, 126),
    0 0 6px rgb(111, 105, 172),
    0 0 6px rgb(111, 105, 172),  
    0 0 12px rgb(111, 105, 172)
  );
}
.branch2 {
  width: 40px;
  height: 189px;
  display: block;
  position: absolute;
  top: 559px;
  right: -17px;
  // border: 3px solid rgb(164, 144, 204);
  box-shadow: 
  0 0 6px rgb(70, 110, 6),
  0 0 6px rgb(190, 250, 93), 
  0 0 6px rgb(190, 250, 93),  
  0 0 12px rgb(190, 250, 93);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.branch3 {
  @include branch(
    169px,
    847px,
    28px,
    // rgb(231, 252, 197),
    0 0 6px rgb(53, 108, 129),
 0 0 6px rgb(106, 209, 250), 
 0 0 6px rgb(106, 209, 250),  
 0 0 12px rgb(106, 209, 250)
  );
}

//Scroll top

.arrow,
.arrow:before {
  position: absolute;
}
#btnarrowdown {
  background-color: transparent;
  margin-right: 50px;
  position: fixed;

  .arrow {
    width: 25px;
    height: 25px;
    top: 186%;
    left: 94%;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(-45deg);
    border-left: none;
    // border-top: none;
    border-right: 2px #fff solid;
    border-top: 2px #fff solid;
    &button {
      background-color: transparent;
    }
  }
  .arrow:before {
    content: "";
    width: 15px;
    height: 15px;
    top: 9px;
    right: 9px;
    margin: 0;
    -webkit-transform: rotate(-90deg);
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-name: arrow;
  }
  @keyframes arrow {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(0 -10px);
    }
  }
}
//End //Scroll Down
