@mixin branch($height, $top, $left,  $boxcolor1, $boxcolor2, $boxcolor3, $boxcolor4) {
  width: 40px;
  height: $height;
  display: block;
  position: absolute;
  top: $top;
  left: $left;
  // border: 3px solid $branchcolor;
  box-shadow: $boxcolor1, $boxcolor2, $boxcolor3, $boxcolor4;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

@mixin porcent($top, $left) {
  display: block;
  position: absolute;
  top: $top;
  left: $left;
}

@mixin progressivebar($with, $bc, $bi) {
  width: $with;
  -moz-animation: graphic-design 2s ease-out;
  -webkit-animation: graphic-design 2s ease-out;
  background-color: $bc;
  background-image: -webkit-gradient(linear,left top,left bottom,from($bc),to($bi));
  background-image: -webkit-linear-gradient(top, $bc, $bi);
  background-image: -moz-linear-gradient(top, $bc, $bi);
  background-image: -ms-linear-gradient(top, $bc, $bi);
  background-image: -o-linear-gradient(top, $bc, $bi);
  background-image: linear-gradient(to top, $bc, $bi);
}

@mixin neon() {
  background-color: rgb(250, 214, 227);
  box-shadow:    
  0 0 6px rgb(128, 75, 94),
  0 0 6px rgb(246, 116, 164), 
  0 0 6px rgb(246, 116, 164),  
  0 0 12px rgb(246, 116, 164)
}

/*background-color: rgb(250, 214, 227);
box-shadow:    
0 0 6px rgb(128, 75, 94),
0 0 6px rgb(246, 116, 164), 
0 0 6px rgb(246, 116, 164),  
0 0 12px rgb(246, 116, 164) 
 */
/* 
 background-color: rgb(210, 240, 252);
 box-shadow:    
 0 0 6px rgb(53, 108, 129),
 0 0 6px rgb(106, 209, 250), 
 0 0 6px rgb(106, 209, 250),  
 0 0 12px rgb(106, 209, 250)  */

/*    background-color: rgb(231, 252, 197);
  box-shadow:    
  0 0 6px rgb(70, 110, 6),
  0 0 6px rgb(190, 250, 93), 
  0 0 6px rgb(190, 250, 93),  
  0 0 12px rgb(190, 250, 93)  */

/* background-color: rgb(203, 201, 231);
 box-shadow:    
 0 0 6px rgb(78, 73, 126),
 0 0 6px rgb(111, 105, 172),
 0 0 6px rgb(111, 105, 172),  
 0 0 12px rgb(111, 105, 172)*/

 