//Fonts
@font-face {
  font-family: 'Source Sans Pro', sans-serif;  
  font-style: normal;
  font-weight: 300;
  src: url(../../assets/fonts/SourceSansPro-Black.ttf);
}

$mainFont:sans-serif;
$fontmenunav: 29px;
$fontweightnav: 300;
$fonttooltip: 15px;
$fontnamefirst:85px;
$fontname:51px;
$fontcontact: 14px;


// Colours

/* HXD */
$black: #000;
$blacksecondary:#141414;
$neumorphimsprimary:#080808;
$neumorphimssecondary:#202020;
$white: #ffff;
$whitesecondary: rgb(136, 133, 133);
$whiteshadow: rgba(255,255,255,1);
$lemon: rgb(166, 253, 23);
$neonblue:#00fff6;
$orange: #F1420A;
$grey-primary:#242424;
$grey-secondary:#949191;
$grey-text:#191919;
$grey-backg:#d0d0d0;
$pink:#ff0571;
$pink-secondary: #E20BDA;
$purple: #ae3dff;
$progressivebar1:#e06995;
$progressivebar2:#d9aa44;
$progressivebar3:#91ba52;
$progressivebar4:#6cb0c7;
$progressivebar5:#CAD315;
$progressivebar6:#958ceb;
$progressivebar7:#3efcc3;
$progressivebar8:#FDA77F;
$shadowprogbar1:#bebbb9;
$shadowprogbar1_1:#fcfcfc;



/* DIMENSIONS */
$nav:85px;
$footer: 50px;
$margs: 27px;


