//=========== Fuentes ==============

$mainfont: "Courier New", Courier, monospace;
$fontmenunav: 29px;
$fontweightnav: 300;
$fonttooltip: 15px;
$fontnamefirst:75px;
$fontname:51px;
$fontcontact: 14px;
$fontmodalXltxt: 13px;
$fontfirstlettermodal: 30px;


//=========== Colores ==============

/* HXD */
$black: #000;
$blacksecondary:#141414;
$neumorphimsprimary:#080808;
$neumorphimssecondary:#202020;
$white: #ffff;
$whitesecondary: rgb(136, 133, 133);
$whiteshadow: rgba(255,255,255,1);
$lemon: rgb(166, 253, 23);
$neonblue:#00fff6;
$orange: #F1420A;
$grey:#cac7c7dd;
$grey-secondary:#949191;
$grey-text:#191919;
$grey-backg:#d0d0d0;
$pink:#E41749;
$pinkcommit: #e9afb8;
$pink-secondary: #E20BDA;
$purple: #ae3dff;
$progressivebar1:#e44c24;
$progressivebar2:#ffff00;
$progressivebar3:#3efcc3;
$progressivebar4:#DD0031;
$progressivebar5:#43853d;
$progressivebar6:#00ED64;
$progressivebar7:#f29221;
$progressivebar8:#000;
$progressivebar9: #0769ad;
$progressivebar10:#534292;

$aboutbcc2: rgb(201, 233, 150);
$aboutbcc3: #C89595;
$aboutbcc4: #F29191;
$aboutbcc5: #d9aff7;

//=========== Dimensiones ==============
$nav:85px;
$footer: 50px;
$margs: 27px;


