.modalBackground {
  position: absolute;
  left: 76px;
  top: -85px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: auto;
  border-radius: 20px;
  background-color: $white;
  border: 2px solid #797878;
  -webkit-box-shadow: 0 0 7px 1px #919090;
  box-shadow: 0 0 7px 1px #919090;
}
.modalContainer {
  width: 410px;
  height: 408px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
.colormodalprojects {
  padding: 3px 13px 3px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.modalContainer .title {
  display: block;
  text-align: left;
  color: $grey-text;
  font-size: 32px;
}
.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}
.titleCloseBtn button {
  position: relative;
  background-color: transparent;
  top: 9px;
  font-size: 20px;
  cursor: pointer;
}
.body {
  display: flex;
  align-items: center;
  color: $grey-text;
  font-size: 12px;
  text-align: left;
  margin-bottom: 8px;
  padding: 0 20px;
}
.footer {
  position: relative;
  bottom: -65px;
  text-align: center;
  width: 136px;
  height: 27px;
  margin: 0 auto;
  font-size: 11.8px;
  border-radius: 10px;
  padding: 8px 0;
  .linkproject {
    color: $grey-text;
    &:hover {
      color: $grey-text;
    }
  }
}

//Start card rotate

.card {
  position: relative;
  width: 250%;
  height: 150%;
  background-color: #d0d0d0;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  perspective: 1000px;
  margin-left: 12px;
  cursor: pointer;
}
.card:hover {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back {
  display: flex;
  flex-direction: column;
  color: $grey-text;
  font-size: 12px;
  text-align: center;
  margin-bottom: 8px;
  background-color: rgb(173, 170, 170);
  border: 1px solid $grey-secondary;
  transform: rotateY(180deg);
  p {
    margin-bottom: 5px;
    padding: 8px;
  }
}
.img-modal {
  width: inherit;
  height: inherit;
  border: 1px solid $grey-secondary;
}

//End card rotate
