.modalBackground {
  position: absolute;
  left: 76px;
  top: -85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer {
  width: 410px;
  height: 408px;
  border-radius: 12px;
  background-color: $white;
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 26px 20px 0;
}
.modalContainer .title {
  display: block;
  text-align: left;
  color: $black;
  font-size: 32px;
  margin-bottom: 0;
}
p {
  margin: 0;
  padding: 0;
}
.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}
.titleCloseBtn button {
  background-color: transparent;
  bottom: 368px;
  right: 12px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.img-modal {
  width: 134px;
  margin-bottom: 10px;
  border: 1px solid $grey-secondary;
  margin-left: 5px;
}
.modalContainer .body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  color: $black;
  font-size: 12px;
  text-align: left;
  margin-bottom: 8px;
}
.modalContainer .footer {
  position: absolute;
  bottom: 9px;
  left: 109px;
}
