//=========== Fondo ==============
.overlay-base {
  padding: 1rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition-property: background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.overlay-after {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}
.overlay-before {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}
//=========== Contenido ==============
.content-base {
  position: relative;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: transparent;
  transition-property: background-color, width, height;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  padding: 14px 20px;

  p {
    margin-top: 27px;
    font-size: $fontmodalXltxt;
    font-weight: normal;
    color: $grey-text;
    line-height: 25.5px;
    @include for-size(phone) {
      margin-top: 20px;
    }
  }
  p::first-letter {
    font-size: $fontfirstlettermodal;
  }
}

//=========== De About ==============
.scrollmodalxl {
  width: 100%;
  height: 410px;
  overflow: auto;
  @include for-size(phone) {
    height: 625px;
    overflow: auto;
  }
  @include for-size(xsphone) {
    height: 480px;
    overflow: auto;
  }
  .container-img-txt {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    @include for-size(desktop-only) {
      margin-top: 30px;
      margin-left: 16px;
    }
    @include for-size(phone) {
      display: unset;
      margin-left: 15px;
    }
    .backgroundimg {
      background-color: $aboutbcc4;
      margin-top: 25px;
      border-radius: 6px;
      @include for-size(desktop-only) {
        margin-top: 34px;
      }
      @include for-size(phone) {
        margin-left: 10px;
        margin-right: 5px;
      }
    }
    .img-modalXL {
      width: 200px;
      height: 200px;
      border-radius: 150px;
      padding: 8px;
      @include for-size(desktop-only) {
        padding: 10px;
      }
      @include for-size(phone) {
        width: 80px;
        height: 80px;
        padding: 6px;
      }
    }
    .text-modal-about {
      margin-left: 16px;
      word-spacing: 3px;
      letter-spacing: 1px;
      @include for-size(desktop-only) {
        font-size: 18px !important;
        line-height: 35px !important;
      }
      @include for-size(phone) {
        font-size: 13px !important;
        line-height: 25px !important;
        word-spacing: 0;
      }
    }
  }
}
//=========== Termina About ==============

//=========== De Skills ==============
.container-logos-txt {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px 0 20px 10px;
  margin-top: 17px;
  @include for-size(desktop-only) {
    margin-top: 30px;
    margin-left: 10px;
  }
  @include for-size(phone) {
    display: unset;
  }
  .container-txt-cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    .text-modal-skills {
      text-align: right;
      margin-top: -86px !important;
      font-size: 13px;
      word-spacing: 3px;
      letter-spacing: 1px;
      line-height: 22px;
      margin-left: 12px;
      @include for-size(desktop-only) {
        font-size: 18px !important;
        line-height: 35px !important;
        word-spacing: 3px;
        margin-top: -97px !important;
      }
      @include for-size(phone) {
        margin-top: 30px !important;
        font-size: 13px !important;
        text-align: left;
        margin-bottom: 30px;
      }
      @include for-size(xsphone) {
        margin-top: 0px !important;
        text-align: left;
      }
    }
  }
  .logos {
    width: 100%;
    @include for-size(desktop-only) {
      width: 100%;
    }
    @include for-size(phone) {
      width: 100%;
      margin-left: 6px;
    }
    @include for-size(xsphone) {
      width: 95%;
   align-items: center;
   justify-content: center;
   padding-left: 17px;
    }
  }
  .logos-img {
    width: inherit;
    border-radius: 6px;
  }
  div, .cv, a {
    color: #db7093;
  }
  .cv {
    display: block;
    position: absolute;
    right: 40px;
    bottom: 57px;
    @include for-size(desktop-only) {
      bottom: 33px;
      font-size: 18px !important;
      word-spacing: 3px;
    }
    @include for-size(phone) {
      right: 114px;
    }
    @include for-size(xsphone) {
      bottom: 35px;
      right: 85px;
    }
  }
}
//=========== Termina Skills ==============

.content-after {
  width: 55%;
  height: 85%;
  border-radius: 6px;
  @include for-size(desktop-only) {
    width: 45%;
    height: 65%;
  }
  @include for-size(phone) {
    width: 85%;
    height: 95%;
  }
}
.content-before {
  width: 0%;
  height: 0%;
  background-color: transparent;
}
.titleCloseBtnModalX {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  top: 12px;
  right: 12px;
  border: none !important;
  font-size: 20px;
  outline: none !important;
  cursor: pointer;
}
