//=========== Fondo ==============
.overlay-base {
  padding: 1rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition-property: background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.overlay-after {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}
.overlay-before {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}
//=========== Contenido ==============
.content-base {
  position: relative;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: transparent;
  transition-property: background-color, width, height;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  padding: 14px 20px;
  .txt {
    p {
      margin-top: 34px;
      font-size: $fontmodalXltxt;
      font-weight: normal;
      color: $grey-text;
      line-height: 25.5px;
    }
    p::first-letter {
      font-size: $fontfirstlettermodal;
    }
  }
}
//=========== De Skills ==============
.container-logos-txt {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px 10px 20px 20px;
  margin-top: 12px;
  .container-txt-cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    .text-modal-skills {
      text-align: right;
      margin-top: -78px !important;
      text-align: right;
      font-size: 14px;
      line-height: 20px;
      margin-left: 90px;
    }
  }
  .logos {
    width: 103%;
  }
  .logos-img {
    width: inherit;
    border-radius: 6px;
  }
  div,.cv,a {
    color: $pink;
  }
  .cv {
    display: block;
    position: absolute;
    right: 40px;
    bottom: 60px;
  }
}

//=========== Termina Skills ==============

//=========== De About ==============
.container-img-txt {
  display: flex;
  margin-left: 10px;
  margin-top: 13px;

  .backgroundimg {
    background-color: $aboutbcc4;
    margin-top: 30px;
    border-radius: 6px;
  }
  .text-modal-about {
    margin-left: 10px;
  }
  .img-modalXL {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    padding: 10px;
  }
}
//=========== Termina About ==============
.content-after {
  width: 55%;
  height: 85%;
  border-radius: 6px;
}
.content-before {
  width: 0%;
  height: 0%;
  background-color: transparent;
}
.titleCloseBtnModalX {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  top: 12px;
  right: 12px;
  border: none !important;
  font-size: 20px;
  outline: none !important;
  cursor: pointer;
}
