.container-progressivebar {
  display: flex;
  flex-direction: row;
  margin-left: 12px;
  margin-top: 49px;
}
#skill {
  list-style: none;
  font-size: 11px;
  font-weight: bold;
  width: 100px;
  line-height: 2em;
}
#skill li {
  width: 200px;
  margin-bottom: 30px;
  background: $white;;
  background-image: $white;
  height: 15px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 0px $shadowprogbar1 inset, 0 1px 0 $shadowprogbar1_1;
  -webkit-box-shadow: 0 1px 0px $shadowprogbar1 inset, 0 1px 0 $shadowprogbar1_1;
  box-shadow: 0 1px 0px $shadowprogbar1, 0 1px 0 $shadowprogbar1_1;
}
#skill li .progressivebar {
  position: relative;
  top: -20px;
}
.bar {
  height: 15px;
  position: absolute;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 0px $shadowprogbar1_1 inset, 0 1px 0 $shadowprogbar1;
  -webkit-box-shadow: 0 1px 0px $shadowprogbar1_1, 0 1px 0 $shadowprogbar1;
  box-shadow: 0 1px 0px $shadowprogbar1_1, 0 1px 0 $shadowprogbar1;
}
.porcent1 {
  @include porcent(108px, 385px);
}
.porcent2 {
  @include porcent(152px, 355px);
}
.porcent3 {
  @include porcent(196px, 355px);
}
.porcent4 {
  @include porcent(240px, 355px);
}
.porcent5 {
  @include porcent(284px, 355px);
}
.porcent6 {
  @include porcent(328px, 355px);
}
.porcent7 {
  @include porcent(422px, 355px);
}
.porcent8 {
  @include porcent(378px, 355px);
}

.html_css {
  @include progressivebar(15.3%, $progressivebar1, $progressivebar1_1);
}
.javascript {
  @include progressivebar(10.2%, $progressivebar2, $progressivebar2_2);
}
.react {
  @include progressivebar(15.3%, $progressivebar3, $progressivebar3_3);
}
.angular {
  @include progressivebar(5%, $progressivebar4, $progressivebar4_4);
}
.node {
  @include progressivebar(12.75%, $progressivebar5, $progressivebar5_5);
}
.mongo {
  @include progressivebar(15.3%, $progressivebar6, $progressivebar6_6);
}
.mysql {
  @include progressivebar(12.75%, $progressivebar7, $progressivebar7_7);
}
.github {
  @include progressivebar(15.3%, $progressivebar8, $progressivebar8_8);
}

/* @-moz-keyframes graphic-design {0%  { width:0px;} 100%{ width:100%;}  }
@-moz-keyframes html-css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  }
@-moz-keyframes wordpress   { 0%  { width:0px;} 100%{ width:80%;}  }

@-webkit-keyframes graphic-design       { 0%  { width:0px;} 100%{ width:100%;}  }
@-webkit-keyframes html-css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  }
@-webkit-keyframes wordpress   { 0%  { width:0px;} 100%{ width:80%;}  } */
