.container-progressivebar {
  display: flex;
  align-items: center;
  justify-content: left;
}
.skill {
  list-style: none;
  font-size: 11px;
  font-weight: bold;
  width: 100px;
  line-height: 24px;
  color: $grey-text;
  margin-right: 140px;
}
.skill li {
  width: 200px;
  margin-bottom: 34px;
  background: $grey-backg;
  background-image: $white;
  height: 15px;
  border-radius: 10px;
}
.skill li .progressivebar {
  position: relative;
  top: -20px;
  color: $grey-text;
  margin-left: 4px;
}
.bar {
  height: 15px;
  position: absolute;
  border-radius: 10px;
}
.skill li .progressivebarDeploy {
  position: relative;
  top: -33px;
  color: $grey-text;
  margin-left: 4px;
}
.skill li .progressivebarDeploy2 {
  position: relative;
  top: -20px;
  color: $grey-text;
  margin-left: -47px;
}

.html_css {
  @include progressivebar(11%, $progressivebar1)
}
.javascript {
  @include progressivebar(8%, $progressivebar2)
}
.react {
  @include progressivebar(11%, $progressivebar3)
}
.angular {
  @include progressivebar(3%, $progressivebar4)
}
.node {
  @include progressivebar(9%, $progressivebar5)
}
.mongo {
  @include progressivebar(9%, $progressivebar6)
}
.mysql {
  @include progressivebar(6%, $progressivebar7)
}
.github {
  @include progressivebar(11%, $progressivebar8)
}
.jquery {
  @include progressivebar(3%, $progressivebar9)
}
.deploy {
  @include progressivebar(10%, $progressivebar10);

}

