.container-progressivebar {
  display: flex;
  flex-direction: row;
  margin-left: 12px;
  margin-top: 49px;
}
#skill {
  list-style: none;
  font-size: 12px;
  font-weight: bold;
  width: 100px;
  line-height: 2em;
  color:$grey-text;
}
#skill li {
  width: 200px;
  margin-bottom: 30px;
  background: $white;
  background-image: $white;
  height: 15px;
  border-radius: 10px;
}

#skill li .progressivebar {
  position: relative;
  top: -20px;
  color:$grey-text;
  margin-left: 4px;
}
.bar {
  height: 15px;
  position: absolute;
  border-radius: 10px;
}

.html_css {
  @include progressivebar(12%, $progressivebar1);
}
.javascript {
  @include progressivebar(8%, $progressivebar2);
}
.react {
  @include progressivebar(12%, $progressivebar3);
}
.angular {
  @include progressivebar(3%, $progressivebar4);
}
.node {
  @include progressivebar(9%, $progressivebar5);
}
.mongo {
  @include progressivebar(9%, $progressivebar6);
}
.mysql {
  @include progressivebar(7%, $progressivebar7);
}
.github {
  @include progressivebar(12%, $progressivebar8);
}
