.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93.2%;
  position: relative;
  bottom: -1250px;
  left: 84px;
  height: $footer;
  font-size: $fontfooter;
  word-spacing: 3px;
  letter-spacing: 1px;
  background: $blacksecondary;
  -webkit-box-shadow: 6px 6px 7px $neumorphimsprimary,
    -6px -6px 7px $neumorphimssecondary;
  box-shadow: 6px 6px 7px $neumorphimsprimary, -1px -6px 7px $neumorphimsprimary;
  p {
    margin-right: 27px;
    @include for-size(desktop-only) {
      font-size: 16px;
    }
    @include for-size(phone) {
      margin-right: unset;
      text-align: center;
      padding: 5px;
      font-size: 10px;
   }
  }
  @include for-size(desktop-only) {
    width: 94.8%;
  }
  @include for-size(phone) {
    width: 81.8%;
    left: 68px;
    bottom: -1500px;
    
 }
 @include for-size(phone6) { 
  width: 80.6%;
  left: 67px;
}
 @include for-size(xsphone) {
  width: 76.5%;

}
} 
