.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92.8%;
  position: relative;
  bottom: -1118px;
  left: 91px;
  height: $footer;
  font-size: 12px;
  margin-top: 70px;
  background: $blacksecondary;
  -webkit-box-shadow: 6px 6px 7px $neumorphimsprimary,
    -6px -6px 7px $neumorphimssecondary;
  box-shadow: 6px 6px 7px $neumorphimsprimary, -1px -6px 7px $neumorphimsprimary;
  p {
    margin-right: 27px;
  }

  @include for-size(desktop-only) {
    width: 94.7%;
  }
}
