.container-contact-btnchangel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 40px 60px 140px;
}
//=========== Contacto ==============
.contact {
  line-height: 25px;
  font-size: $fontcontact;
  margin-top: 35px;
  strong {
    font-size: 19px;
  }
  .email {
    color: #db7093;
  }
}
//=========== Botón Idioma ==============
.container-tooltip-language {
  height: 0%;
  transition: all 1s;
  .textlanguage {
    display: none;
    color: $white;
  }
  &:hover .textlanguage {
    display: block;
    margin-right: 40px;
    margin-top: -15px;
    font-size: 13px;
  }
}
.changelanguage {
  background-color: transparent !important;
  cursor: pointer;
  text-align: end;
  margin-top: 30px;
  outline: none !important;
  border: none;
}
.img-changelanguage {
  width: 26px;
}
//=========== Mi nombre ==============
.myname {
  display: flex;
  flex-direction: column;
  font-size: $fontname;
  text-align: right;
  letter-spacing: -3px;
  transition: all 300ms;
  margin-right: 40px;
  span:first-child {
    font-size: $fontnamefirst;
  }
}
//=========== Animación web developer ==============
.container-web-developer {
  display: flex;
  align-items: center;
  justify-content: end;
  .web {
    -moz-animation: textname1 2s ease-out;
    -webkit-animation: textname1 2s ease-out;
    animation: textname1 2s ease-out;
    margin-right: 20px;
  }
  @keyframes textname1 {
    from {
      transform: translatey(-500%); /*el texto se va fuera de arriba a abajo*/
    }
    to {
      transform: translateY(0%); /*vuelve al punto original*/
    }
  }
  .developer {
    -moz-animation: textname2 3s ease-out;
    -webkit-animation: textname2 3s ease-out;
    animation: textname2 3s ease-out;
  }
  @keyframes textname2 {
    from {
      transform: translatey(-800%); /*el texto se va fuera de arriba a abajo*/
    }
    to {
      transform: translateY(0%); /*vuelve al punto original*/
    }
  }
}
.container-myname-txt {
  display: flex;
  flex-direction: column;
  margin-left: 330px;
  @include for-size(desktop-only) {
    margin-left: 589px;
  }
  //=========== Texto cómo navegar ==============
  .text-home {
    width: 250px;
    height: 84px;
    color: $white;
    font-size: 13px;
    box-shadow: 0 0 10px 2px #949191;
    border-radius: 40px;
    line-height: 20px;
    padding: 18px 19px;
    text-align: center;
    transition: all 1s;
    margin-top: -62px;
  
  }
}

//================== Rama principal ========================
.container-main {
  position: absolute;
  top: 360px;
  left: 50%;
}

//=========== Rama main ==============
.main-branch {
  width: 11px;
  height: 970px;
  position: absolute;
  top: 32px;
  left: 34%;
  @include neon;
  z-index: 1;
}
//=========== Commit main ==============
.commit-main {
  display: block;
  position: absolute;
  top: 100px;
  left: 7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 2;
  @include neon;
}

//=========== bolitas pequeñas de commits ==============
.commitmain-sx {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 100px;
  left: 9px;
  @include neon;
  cursor: pointer;
  z-index: 2;
}
//=========== tooltip de cada bolita ==============
.tooltip-container {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  transition: all 1s;
  .text {
    width: 200px;
    position: absolute;
    top: -8px;
    right: 42px;
    display: none;
    color: $white;
  }
  &:hover .text {
    display: block;
  }
}
//=========== Commit final ==============
.commitmain-end {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 967px;
  left: -10px;
  @include neon;
  cursor: auto;
}

//=========== Refactorización props  ==============
.miniballpropsquiz {
& .commitmain-sx {
  top: 210px;
  background-color:#e9afb8 ;
}
& .text {
    left: 60px;
    top: 0;
}

}