.container-layout {
  display: grid;
  grid-template-columns: 100px auto;
}
.contact {
  text-align: left;
  position: absolute;
  top: 30px;
  left: 130px;
  line-height: 25px;
  font-size: $fontcontact;
  strong {
    font-size: 19px;
  }
}
.myname {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 218px;
  right: 27px;
  font-size: $fontname;
  text-align: right;
  letter-spacing:-3px;
  span:first-child {
    font-size: $fontnamefirst;
  }
}
.container-main {
  position: absolute;
  top: 360px;
  left: 50%;
}
.main-branch {
  width: 11px;
  height: 1000px;
  position: absolute;
  top: 27px;
  left: 34%;
  background-color: red;
  border: 1px solid red;
}

