.container-layout {
  display: grid;
  grid-template-columns: 100px auto;
}
.contact {
  text-align: right;
  position: absolute;
  top: 30px;
  right: 27px;
  line-height: 25px;
  font-size: $fontcontact;
    strong {
        font-size: 19px;
    }
}
.myName {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 218px;
  right: 27px;
  font-size: $fontname;
  text-align: right;
    span:first-child {
        font-size: $fontnamefirst;
    }
}

