.container-nav {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-row: 1/7;
  background: $blacksecondary;
  -webkit-box-shadow: 6px 6px 7px $neumorphimsprimary,
    -6px -6px 7px $neumorphimssecondary;
  box-shadow: 6px 6px 7px $neumorphimsprimary,
    -6px -6px 7px $neumorphimssecondary;
  position: fixed;
  top: 0;

  nav {
    display: flex;
    flex-direction: column;
    width: $nav;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    ul:nth-child(2) {
      margin-left: 52px;
      @include for-size(phone) {
        margin-left: 10px;
      }
    }
    @include for-size(phone) {
      width: 60px;
    }
  }
}
.logo-img {
  width: 32px;
  @include for-size(phone) {
    width: 30px;
  }
}
.social li:last-child {
  margin-bottom: 60px;
  @include for-size(phone) {
    margin-bottom: 100px;
  }
}
.social a,
.menu p {
  display: block;
  color: $white;
  text-decoration: none;
  font-size: $fontmenunav;
  letter-spacing: 1px;
  cursor: pointer;
  
  @include for-size(desktop-only) {
    font-size: 33px;
    letter-spacing: 1px;  
  }
  @include for-size(phone) {
    font-size: 13px;
    margin-bottom: 0;
  }
}
//=========== Botón Idioma ==============
.container-tooltip-language {
  height: 0%;
  transition: all 1s;
  .textlanguage {
    font-size: 11px;
    letter-spacing: 1px;
    color: $white;
  }
}
.changelanguage {
  background-color: transparent !important;
  cursor: pointer;
  text-align: center;
  margin-top: 11px;
  margin-left: 8px;
  @include for-size(desktop-only) {
    margin-top: 13px;
  }
 }
.img-changelanguage {
  width: 30px;
}


//=========== Toggle palabras por Iconos ==============
.aboutword {
  display: block;
  margin-bottom: 8px;
  @include for-size(phone) {
    display: none;
  }
}
.abouticon {
  display: none;
  @include for-size(phone) {
    display: block;
    margin-bottom: 20px;
  }
}
.skillsword {
  display: block;
  @include for-size(phone) {
    display: none;
  }
}
.skillsicon {
  display: none;
  @include for-size(phone) {
    display: block;
  }
}
.woman {
  width: 78%;
}
.skills {
  width: 75%;
}

//=========== Efecto hover RRSS ==============
ul li {
  list-style: none;
}
ul li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  background: $blacksecondary;
  border-radius: 150px;
  transition: 0.5s;
  line-height: 75px;
}